DATABASE_URL="file:/absolute/path/to/project/prisma/dev.db"

NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Mr.Pet
NEXT_PUBLIC_OZON_URL=https://ozon.ru/t/D4yNPF1

# YooKassa API credentials
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
YOOKASSA_RETURN_URL=http://localhost:3000/order/success

# Admin panel password
ADMIN_PASSWORD=

# Contact / legal
COMPANY_FULL_NAME="ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ «МИСТЕР ПЕТ»"
COMPANY_NAME="ООО «МИСТЕР ПЕТ»"
COMPANY_ADDRESS="Улица Свободы, 29"
COMPANY_PHONE=
COMPANY_EMAIL=
COMPANY_INN=5047268242
COMPANY_KPP=773301001
COMPANY_OGRN=

# Bank details
BANK_NAME='ООО "Банк Точка"'
BANK_ACCOUNT=40702810301500152619
BANK_BIK=044525104
BANK_CORR=30101810745374525104
